body{
	background-image: url("bacretrorpg.jpg");
}
.container{
	background-color:#FFFFFF;
}
#lg{
	background-color: #39FA1A;
	color: #FFFFFF;
}
#menu{
	background-color: #041002;
}
#tabs li{
	color: #FFFFFF;
}
div[name="not"] input{
	background-color:#39FA1A;
	color: #FFFFFF;
}
#abme h2{
	background-color: #E1DEDE;
}
#abme div img{
	src: url("bacretrorpg.jpg");
}
		